;;; .secret.el -*- lexical-binding: t; -*-

;; Override font settings
;; (setq  my-monospace-font "Comic Mono")      ; Font to use for code
;; (setq  my-variablespace-font "ComicNeue Regular")             ; Font to use for writing ;Carlito;Alegreya;ComicNeue Regular
;; (setq  my-monospace-font-size 26)
;; (setq  my-variablespace-font-size 36)

;; (setq my-keyboard-variant "colemak")                 ; set this here to avoid having to change the main configuration file

;; Example of setting the initial frame size for a particular windowmanager
;; (if (equal (getenv "GDMSESSION") "lxqt")
;;    (setq initial-frame-alist '((top . 18) (left . 22) (width . 92) (height . 33)))
;; )

;; Merriam-Webster API key
(defconst my-mw-api-key "API-KEY-HERE")
