;;; .secret.el -*- lexical-binding: t; -*-

;; (setq my-keyboard-variant "colemak")                 ; set this here to avoid having to change the main configuration file

;; Example of setting the initial frame size for a particular windowmanager
;; (if (equal (getenv "GDMSESSION") "lxqt")
;;    (setq initial-frame-alist '((top . 32) (left . 22) (width . 92) (height . 34)))
;; )

;; Merriam-Webster API key
(defconst my-mw-api-key "API-KEY-HERE")
